@page "/jobs/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View</h3>

<FormComponent job="job" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    Job job = new Job();

    protected async override Task OnParametersSetAsync()
    {
        job = await _client.GetFromJsonAsync<Job>($"{Endpoints.JobsEndpoint}/{id}");
    }

}