@page "/apps/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New App</h3>
<hr />
<br />

<FormComponent ButtonText="Create App" app="app" OnValidSubmit="@CreateApp" />

@if (app.Id > 0)
{
    <div class="form-group">
        <label>Date In: </label>
        <div>
            <InputDate @bind-Value="@app.DateIn" class="form-control" />
            <ValidationMessage For="@(() => app.DateIn)" />
        </div>
    </div>
}

<button type="submit" class="btn btn-success btn-block">
    Create App
</button>

@code {
    App app = new App();

    private IList<Job> Jobs;
    private IList<Customer> Customers;

    protected async override Task OnInitializedAsync()
    {
        Jobs = await _client.GetFromJsonAsync<List<Job>>($"{Endpoints.JobsEndpoint}");
        Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
        //app.DateOut = DateTime.Now;
    }

    private async Task CreateApp()
    {
        await _client.PostAsJsonAsync(Endpoints.AppsEndpoint, app);
        _navManager.NavigateTo("/apps/");
    }
}
