@page "/apps/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View</h3>

<FormComponent booking="booking" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    App booking = new App();

    protected async override Task OnParametersSetAsync()
    {
        booking = await _client.GetFromJsonAsync<App>($"{Endpoints.AppsEndpoint}/{id}");
    }

}