@page "/companys/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3 class="card-title"> Car Companys</h3>
<a href="/companys/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Company
</a>
<br />
<br />

@if (Companys == null)
{
    <div class="alert alert-info">Loading Companys...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th> Name </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in Companys)
            {
                <tr>
                    <td> @company.Name </td>
                    <td>
                        <a href="/companys/view/@company.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/companys/edit/@company.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(company.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Company> Companys;

    protected async override Task OnInitializedAsync()
    {
        Companys = await _client.GetFromJsonAsync<List<Company>>($"{Endpoints.CompanysEndpoint}");
    }

    async Task Delete(int companyId)
    {
        var company = Companys.First(q => q.Id == companyId);
        var confirm = await js.InvokeAsync<bool>("Confirm", $"Do you want to delete {company.Name}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.CompanysEndpoint}/{companyId}");
            await OnInitializedAsync();
        }
    }

}
