@page "/companys/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View</h3>

<FormComponent company="company" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    Company company = new Company();

    protected async override Task OnParametersSetAsync()
    {
        company = await _client.GetFromJsonAsync<Company>($"{Endpoints.CompanysEndpoint}/{id}");
    }

}