@page "/application"
@using job_seek.Shared
@inject HttpClient Http

<h1>Contacts</h1>

<p>Fetch data from server</p>

<table class="table">
    <thread>
    </thread>
</table>

<SurveyPrompt Title="Looking for a job?" />
